header {
  min-height: 5rem;
  background-color: #d6c6b1;
  padding: 1rem; }
  header .banner {
    max-height: 5rem;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    padding: 5px 1rem;
    background-color: white;
    margin-top: -5px; }
  header nav .nav-container {
    list-style: none;
    float: right;
    margin-top: 1rem; }
    header nav .nav-container .nav-item {
      margin: 0.25rem;
      float: right; }
      header nav .nav-container .nav-item a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: #823a51;
        padding: 1rem 1.5rem;
        border-radius: 999px;
        color: whitesmoke;
        font-family: 'Arial';
        font-weight: bold;
        box-shadow: 2px 2px 4px black; }
  header .loggedintopright {
    background-color: #823a51;
    font-weight: bold;
    position: relative; }
    header .loggedintopright .loggedinsubmenu {
      display: none;
      position: absolute;
      top: 2.8rem;
      padding: 0.5rem 0;
      background-color: black;
      opacity: 0.9;
      margin-left: -1rem;
      border-radius: 3px; }
      header .loggedintopright .loggedinsubmenu .logout-button {
        background-color: black;
        color: white;
        font-size: 1.2rem;
        border: none;
        opacity: 0.9;
        border-radius: 3px;
        padding: 0 1rem;
        box-shadow: none; }
        header .loggedintopright .loggedinsubmenu .logout-button:hover {
          background-color: gray; }
    header .loggedintopright .loggedinisactive {
      display: block; }

.hamburger-menu {
  height: 3rem;
  margin-left: 2rem; }

.popout-menu {
  position: fixed;
  display: block;
  right: -600px;
  transition-duration: 1s;
  height: 100%;
  max-width: 600px;
  width: 100%;
  z-index: 99;
  background-color: #ddd;
  visibility: hidden; }
  .popout-menu ul {
    margin-left: 1rem; }
    .popout-menu ul hr {
      width: 50%;
      margin: 0; }
    .popout-menu ul li {
      list-style-type: none;
      margin: 1rem 0; }
      .popout-menu ul li a {
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 3rem 1rem 0; }

.popout-menu-is-open {
  right: 0;
  visibility: visible;
  transition-duration: 1s; }

.popout-background {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 95;
  display: none; }

.popout-background-is-active {
  display: block; }

.hamburger-menu-popout-container {
  height: 5rem;
  width: 90%;
  margin: 2rem auto; }

.main-page-container .main-page-header {
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: 2.5rem; }
.main-page-container .news-clipping {
  margin: 2rem 1rem;
  border-top: 1px solid gray; }
  .main-page-container .news-clipping pre {
    padding-top: 0;
    margin-top: 0;
    line-height: 1; }
  .main-page-container .news-clipping h2 {
    margin-bottom: 0.5rem; }
  .main-page-container .news-clipping p {
    padding-left: 0.5rem; }
  .main-page-container .news-clipping img {
    width: 20%;
    padding: 5px;
    border: 1px solid gray; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.page-header {
  font-family: arial;
  text-transform: uppercase;
  width: 95%;
  max-width: 1200px;
  background-color: #823a51;
  color: white;
  padding: 1rem;
  border-radius: 10px; }

body {
  color: black;
  font-family: arial; }

html, body {
  height: 100%; }

.mobile-notice {
  display: none; }

.dev-notice {
  background-color: #990000;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-style: italic; }

.success-notice {
  background-color: #009900;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  font-style: italic; }

.tail {
  clear: both;
  content: ""; }

.game-container {
  background-color: gray;
  padding: 2rem 0; }
  .game-container #gameWrapper {
    height: 600px;
    width: 800px;
    border: 1px solid black;
    background-color: white;
    display: block;
    margin: auto; }
  .game-container .musicplayer {
    margin: auto;
    display: none; }
  .game-container .gameoverplayer {
    display: none; }
  .game-container .pause {
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    display: block;
    padding: 1rem;
    border-radius: 999px; }
    .game-container .pause .pause-button, .game-container .pause .play-button {
      width: 100px;
      height: 100px;
      display: none; }
    .game-container .pause .is-active {
      display: block; }
  .game-container #pad {
    height: 600px;
    width: 800px;
    background-color: white;
    margin: 1rem auto;
    display: block;
    z-index: 5;
    position: relative; }
  .game-container .game-easter-egg {
    background-color: #999;
    height: 2px;
    width: 2px;
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 4; }
  .game-container .mobile-notice p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
    display: block; }

.registration-container .registration-field {
  display: block;
  margin: 0.5rem 0;
  border-radius: 5px;
  width: 70%;
  height: 2rem;
  margin: 0.5rem auto;
  padding: 0 0 0 1rem; }
.registration-container .registration-form {
  background-color: #823a51;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px; }
.registration-container .registration-submit {
  display: block;
  margin: auto;
  border-radius: 2px;
  margin-top: 1rem; }

.login-container .login-form {
  background-color: #823a51;
  width: 20%;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem; }
.login-container #user, .login-container #pass {
  display: block;
  margin: 0.5rem auto;
  border-radius: 3px;
  text-align: center;
  width: 80%; }
.login-container .login-submit {
  margin: auto;
  display: block;
  border-radius: 2px;
  margin-top: 1rem; }

.forum-post-block {
  width: 40%;
  min-height: 5rem; }

.forum-post-single .author {
  margin-bottom: 0;
  font-weight: bold; }
.forum-post-single .date {
  font-size: 0.7rem;
  font-style: italic;
  margin-top: 0; }

.forum-form {
  margin: 3rem 0; }
  .forum-form .forum-form-textarea {
    width: 40%;
    min-height: 5rem; }
  .forum-form .forum-form-submit {
    border: none;
    background-color: #823a51;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    transition-duration: 1s; }
    .forum-form .forum-form-submit:hover {
      transition-duration: .5s;
      background-color: black; }

.scoreboard-container {
  width: 90%;
  margin: 1rem auto;
  background-color: #333;
  padding: 2rem;
  display: flex; }
  .scoreboard-container .scoreboard-content {
    width: 40%;
    float: left;
    margin: 0 5%;
    padding: 1rem; }
    .scoreboard-container .scoreboard-content .scoreboard-content-inner {
      background-color: whitesmoke;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 1rem; }
  .scoreboard-container table {
    background-color: #823a51;
    width: 50%;
    float: right; }
    .scoreboard-container table th {
      background-color: #d6c6b1;
      padding: 1rem 3rem; }
    .scoreboard-container table td {
      background-color: whitesmoke;
      padding: 1rem; }

footer {
  min-height: 3rem;
  background-color: #823a51;
  display: flex;
  flex-direction: column; }
  footer .lower-footer {
    margin-top: auto;
    text-align: center;
    margin-bottom: 1rem;
    color: #d6c6b1; }

@media only screen and (max-width: 1100px) {
  header nav .nav-ul li a {
    padding-left: 0.9rem;
    padding-right: 0.9rem; } }
@media only screen and (max-width: 960px) {
  header .loggedintopright {
    font-size: 0.7rem !important; }
    header .loggedintopright .loggedin-hello {
      display: none; }
    header .loggedintopright .loggedinsubmenu {
      top: 1.5rem; }
  header nav .nav-ul li a {
    font-size: 0.7rem; }

  .loggedintopright {
    font-size: 0.7rem !important; }
    .loggedintopright .loggedin-hello {
      display: none; }
    .loggedintopright .loggedinsubmenu {
      top: 1.5rem; } }
@media only screen and (max-width: 800px) {
  #pad, .cast, .musicplayer, .banner {
    display: none !important; }

  .mobile-notice {
    display: block; } }

/*# sourceMappingURL=main.css.map */
