header {
  min-height: 5rem;
  background-color: #d6c6b1;
  padding: 1rem; }
  header .banner {
    max-height: 5rem;
    float: left; }
  header nav .nav-ul {
    list-style: none;
    float: right; }
    header nav .nav-ul li {
      display: inline-block;
      margin: 0.25rem; }
      header nav .nav-ul li a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: #823a51;
        padding: 1rem 2rem;
        border-radius: 999px;
        color: whitesmoke;
        font-family: 'Arial'; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.game-container {
  background-color: gray;
  padding: 5rem 0; }
  .game-container #gameWrapper {
    height: 600px;
    width: 800px;
    border: 1px solid black;
    background-color: white;
    display: block;
    margin: auto; }
  .game-container #pad {
    height: 600px;
    width: 800px;
    background-color: white;
    margin: 1rem auto;
    display: block; }

footer {
  min-height: 3rem;
  background-color: #823a51;
  display: flex;
  flex-direction: column; }
  footer .lower-footer {
    margin-top: auto;
    text-align: center;
    margin-bottom: 1rem;
    color: #d6c6b1; }
