.change-pass-section{

    form{
        width:50%;
        background-color:$color-2;
        margin: 1rem auto;
        padding:2rem;
        

        input{
            display:block;
            // text-align: center;
            margin:0.5rem auto;

        }
    }

}