//This file is for general styling, like containers and sections

.container{
    max-width:1200px; //so it doesnt look terrible at wide viewports
    margin-left: auto; //leave top and bottom alone
    margin-right: auto;
    display:block;
}



.page-header{
    font-family:arial;
    text-transform: uppercase;
    width:95%;
    max-width:1200px;
    background-color: $color-1;
    color:white;
    // margin: 1rem -1rem;
    padding:1rem;
    border-radius:10px;
}

body{
    color:black;
    font-family:arial; 
}
html,body{
    height:100%;
}
.mobile-notice{
    display:none;
}
.dev-notice{
    background-color:#990000;
    color:white;
    border-radius:10px;
    padding:1rem;
    margin:1rem;
    font-style:italic;
}

.success-notice{
    background-color:#009900;
    color:white;
    border-radius:10px;
    padding:1rem;
    margin:1rem;
    font-style:italic;
}

.tail{
    clear:both;
    content:"";
}