//This file is for general styling, like containers and sections

.container{
    max-width:1200px; //so it doesnt look terrible at wide viewports
    margin-left: auto; //leave top and bottom alone
    margin-right: auto;
    display:block;
}

.musicplayer{
    margin:auto;
    display:block;
}

.page-header{
    font-family:arial;
    text-transform: uppercase;
    width:100%;
    background-color: gray;
    // margin: 1rem -1rem;
    padding:1rem;
    border-radius:10px;
}

body{
    color:black;
    font-family:arial; 
}