header{
    min-height: 5rem;
    background-color: $color-2;
    padding:1rem;


    .banner{
        max-height:5rem;
        float:left;
        border-radius: 5px;
        box-shadow: 1px 1px 4px black;
        padding:5px 1rem;
        background-color:white;
        margin-top:-5px;
    }
    nav{


        .nav-ul{
            list-style: none;
            float:right;

            li{
                display: inline-block;
                margin: 0.25rem;

                a{

                    text-decoration:none;
                    text-transform:uppercase;
                    background-color:$color-1;
                    padding: 1rem 1.5rem;
                    border-radius: 999px;
                    color:whitesmoke;
                    font-family: 'Arial';
                    font-weight:bold;
                    box-shadow:2px 2px 4px black;
                }
            }
        }
    }
    .loggedintopright{
        background-color:$color-1;
        font-weight:bold;
        position:relative;
        .loggedinsubmenu{
            display:none;
            position: absolute;
            top:2.1rem;
            padding:0.5rem 0;
            background-color:black;
            opacity:0.9;
            margin-left:-1rem;
            border-radius:3px;
           
            .logout-button{
                background-color: black;
                color:white;
                font-size:1.2rem;
                border:none;
                opacity:0.9;
                border-radius:3px;
                padding:0 1rem;
                box-shadow:none;
                &:hover{
                    background-color:gray;
                }
            }
        }
        .loggedinisactive{
            display:block;
        }
        
    }
}