@media only screen and (max-width: 1100px) {
    
    header{
        nav{
            .nav-ul{
                    li{
                    a{
                        padding-left:0.9rem;
                        padding-right:0.9rem;
                    }
                }
            }
        }
    }


  }

  @media only screen and (max-width: 960px) {
    
    header{
        .loggedintopright{
            font-size:0.7rem !important;
            .loggedin-hello{
                display:none;
            }
            .loggedinsubmenu{
                top:2.5rem;
            }
        }
        nav{
            .nav-ul{
                    li{
                    a{
                        // font-size:0.7rem;
                    }
                }
            }
        }
    }

    // .loggedintopright{
    //     font-size:0.7rem !important;
    //     .loggedin-hello{
    //         display:none;
    //     }
    //     .loggedinsubmenu{
    //         top:1.5rem;
    //     }
    // }
  }

  @media only screen and (max-width: 800px) {
    #pad,.cast,.musicplayer{
        display:none !important;
    }
    .mobile-notice{
        display:block;
    }
  }

  @media only screen and (max-width: 600px) {

   }

    @media only screen and (max-width: 460px) {
        header{
            padding:2rem 0.35rem;
            .hamburger-menu{
                padding-left:0.5rem;
            }
        }

   }