.registration-container{

    .registration-field{
        display:block;
        margin: 0.5rem 0;
        border-radius: 5px;
        width:20%;
        height:2rem;
        padding: 0 0 0 1rem;
    }
}